/*header*/
header{
    display: flex;
    justify-content:center;
    justify-content: space-around;
    width:100%;
    height:60px;
    background-color: bisque;
    align-items: center;
    flex-wrap: wrap;
    box-shadow: 10px 5px 5px rgba(85, 70, 70, 0.596);
    margin-bottom:1%;
    
}
header>a:hover {
    color: rgb(163, 162, 185);
  }
header>button{
    background-color: rgb(4, 36, 46);
    border-radius: 10px;
    width:auto;
    height:30px;
}
header>button:hover{
    background-color: aqua;
    color: rgb(7, 55, 70);
}
header>button>a{
    text-decoration: none;
    color:rgb(121, 97, 97);  
    
}
header>a>img{
    
    width:50%;
    height:auto;
}

main{
    background-image: url('images/fond_ecran.jpg');
    width:100%;
    background-attachment: fixed;
    height: 1000px;
    background-position: center;
    background-repeat: no-repeat;
}
/*accueil*/
/*section-1*/
.section-1{
    width:75%;
    height: auto;
    background-color: rgba(72, 121, 121, 0.664);
    text-align: center;
    padding-top:2%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 2%;
    
}
.section-1>h1{
    font-family: 'Rubik Vinyl', cursive;
}
.section-1>p{
    text-align: center;
    margin :0px 10%; 
}
.section-1>li{
    text-align: justify;
    margin-left:25%;
    font-size:1.2em;
    color: white;
    
}
.section-2{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
}
.section-2>h2{
    align-items: center;
    text-decoration: underline;
    color: white;
    animation: defilement 5s ;
}
@keyframes defilement{
    from{
        margin-left:-200%;
    }
    to{
        color:black;
    }
}

/*qui sommes_nous*/
h1{
    color:black;
    padding:5%;
}
.section-qui{
    display: flex;
    flex-wrap: wrap;
    width:100%;
    height:auto;
}
.section_gauche{
    width:500px;
    height:auto;
    margin:0 10%;
   align-items:flex-start;
   font-size:1.5em; 
}
.section_droite{
    width:400px;
    height:auto;
    align-items: flex-end;
    font-size:1.5em;

}

/*coding_school*/
.coding-1{
    display: flex;
    width:100%;
    height:auto;
}
.coding-1>img{
    width:25%;
    height:25%;
    margin:5%;
    
}
.coding-1>p{
    margin:10%;
    width:30%;
    height:auto;
}
.coding-2>img{
    float:right;
    margin: 5%;
}
.coding-2>p{
    padding-top:10%;
    width:50%;
    text-align:center;
    
    margin-left:auto;
    margin-right:auto;

}
h2{
   text-align: center;
   color:aliceblue;
   animation: clignote 2s alternate infinite; 
   font-size:2em;
}
@keyframes clignote{
    0%{
        opacity:0%;
    }
    100%{
        opacity: 100%;
    }
}

/*cybersecurity*/

.page{
    background-image: url('images/cyber.jpg');
    width:100%;
    height: 900px;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
.page>p{
    font-size:2em;
    color:beige;
}

/*Footer*/

footer{
    margin-top: 0px;
    display:flex;
    width:100%;
    height:60px;
    background-color: darkgrey;
    align-items: center;
    justify-content: center;
    bottom: 2px;
}